body {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url(https://i.pinimg.com/originals/86/ce/9b/86ce9bc229b75ae75ceab02debdcd99c.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

* {
	margin: 0;
	padding: 0;
}
